.mystery-quest-regular {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  
body, html {
    font-family: Mystery Quest;
    margin: 0;
    padding: 0;
    background-color: #4a0114;
    color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
  }

#navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: black; /*rich burgandy #850220*/
}
#headername{
    margin-left: 10px;
    flex-grow: 9;
    padding: 5px;
    color: white;
    text-align: left;
}

.header{
    color: white;
    width: 100vw;
    max-width: 100%;
    padding: 5px;
    margin-right: 10px;
    flex: 1;
    text-align: center;
}

#titleArea{
    padding: 20px;
    text-align: center;
}

#flexContainer{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.flexItemRow{
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.flexItemContainer{
    display: flex;
    flex-direction: column;
}

.flexItemCol{
    flex: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;

}

#topimg, #maneskinimg, #enhyphenimg, #fivesosimg{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

#billieimg, #jvkeimg, #brunoimg, #vampsimg{
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
}