.mystery-quest-regular {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
  }  
  
body, html {
    font-family: Mystery Quest;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

#navbar{
    position: sticky;
    top: 0;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: black; /*rich burgandy #850220*/
}
#headername{
    margin-left: 10px;
    flex-grow: 9;
    padding: 5px;
    color: white;
    text-align: left;
}

.header{
    color: white;
    width: 100vw;
    max-width: 100%;
    padding: 5px;
    margin-right: 10px;
    flex: 1;
    text-align: center;
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
  }

#headerimg{
    width: 100%;
    opacity: 0.6;
    padding: 0;
    margin: 0;
}
#img-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#imgcredTag{
    color: white;
    text-align: right;
    margin: 0px 20px 0px 0px;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
  }

p{
    font-family: 'Times New Roman', Times, serif;
}

